In [3]:
import eikon as ek
from datetime import datetime
from datetime import timedelta
from eikon_wrapper import get_data
import pandas as pd
import matplotlib.pyplot as plt

c:\Users\sindrjha\Documents\Eikon data\statistical-arbitrage\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
ek.set_app_key("c37ad465f3ff4feba5222c630d8c42d908c94729")

In [42]:
ticker = "NGLNMc1"
start_date = "2010-01-01"
end_date = "2024-09-01"
fields = None

params = {"SDate": start_date, "EDate": end_date}

df, err = get_data(ticker, fields, params)
df

[INFO] Number of dates: 3000
[INFO] Number of tickers at once: 1
[INFO] Max time window length: 357

Ticker: 100%|██████████| 8/8 [00:01<00:00,  4.84it/s]

NGLNMc1      HIGH    LOW   OPEN  CLOSE  VOLUME   ticker
Date
2010-01-04   37.9   35.5   37.0  35.57    5795  NGLNMc1
2010-01-05   37.6  36.25  36.25  37.38    5005  NGLNMc1
2010-01-06  37.25  36.15  36.81   37.0    7630  NGLNMc1
2010-01-07   39.0   36.6   37.0  37.27   10130  NGLNMc1
2010-01-08  36.25   35.1   36.0  35.22    8245  NGLNMc1
...           ...    ...    ...    ...     ...      ...
2024-08-23  90.01  86.59  88.19  88.63    7185  NGLNMc1
2024-08-27  94.15  89.54   90.0  93.25    9620  NGLNMc1
2024-08-28  95.37  92.49  92.93  92.79   15685  NGLNMc1
2024-08-29  93.79  90.85  93.34  91.73    5980  NGLNMc1
2024-08-30  97.55  93.67  94.65  96.15    7110  NGLNMc1

[3751 rows x 6 columns]

In [43]:
df.to_csv("nbp.csv")

In [19]:
ticker = "TFMBMc1"
start_date = "2010-01-01"
end_date = "2024-09-01"
fields = None

params = {"SDate": start_date, "EDate": end_date}

df, err = get_data(ticker, fields, params)
df

[INFO] Number of dates: 3000
[INFO] Number of tickers at once: 1
[INFO] Max time window length: 357

Ticker: 100%|██████████| 8/8 [00:01<00:00,  4.69it/s]

TFMBMc1       HIGH     LOW    OPEN   CLOSE  VOLUME   ticker
Date
2010-03-12    <NA>    <NA>    <NA>    12.5    <NA>  TFMBMc1
2010-03-15    <NA>    <NA>    <NA>    11.6    <NA>  TFMBMc1
2010-03-16  11.875   11.65    11.8   11.41     150  TFMBMc1
2010-03-17    11.3    11.2    11.3   11.31     120  TFMBMc1
2010-03-18   11.25   11.25   11.25   11.09      30  TFMBMc1
...            ...     ...     ...     ...     ...      ...
2024-08-26   37.92  36.135  36.845  37.656   31852  TFMBMc1
2024-08-27  39.045  37.285  37.995  38.689   81747  TFMBMc1
2024-08-28   39.58    38.3  38.555   38.52   81003  TFMBMc1
2024-08-29   39.04  37.915   38.42  38.601   46400  TFMBMc1
2024-08-30  40.325   38.75   39.17  39.823   80076  TFMBMc1

[3712 rows x 6 columns]

In [20]:
df.to_csv("ttf.csv")

In [24]:
ticker = "PNCGQc1"
start_date = "2010-01-01"
end_date = "2024-09-01"
fields = None

params = {"SDate": start_date, "EDate": end_date}

df, err = get_data(ticker, fields, params)
df

[INFO] Number of dates: 2460
[INFO] Number of tickers at once: 1
[INFO] Max time window length: 357

Ticker:   0%|          | 0/6 [00:00<?, ?it/s]2024-09-10 14:04:29,226 P[11144] [MainThread 19408] Error with PNCGQc1: No data available for the requested date range
2024-09-10 14:04:29,226 P[11144] [MainThread 19408] PNCGQc1: No data available for the requested date range |
Ticker:  17%|█▋        | 1/6 [00:00<00:00,  7.55it/s]2024-09-10 14:04:29,353 P[11144] [MainThread 19408] Error with PNCGQc1: No data available for the requested date range
2024-09-10 14:04:29,354 P[11144] [MainThread 19408] PNCGQc1: No data available for the requested date range |
Ticker: 100%|██████████| 6/6 [00:01<00:00,  5.40it/s]

PNCGQc1       HIGH     LOW    OPEN   CLOSE  VOLUME   ticker
Date
2015-01-02    <NA>    <NA>    <NA>   20.21    <NA>  PNCGQc1
2015-01-05    <NA>    <NA>    <NA>  19.953    <NA>  PNCGQc1
2015-01-06    <NA>    <NA>    <NA>  19.202    <NA>  PNCGQc1
2015-01-07    <NA>    <NA>    <NA>  19.379    <NA>  PNCGQc1
2015-01-08    <NA>    <NA>    <NA>  19.496    <NA>  PNCGQc1
...            ...     ...     ...     ...     ...      ...
2024-08-26   40.65    40.3    40.6  40.554      10  PNCGQc1
2024-08-27   41.45   41.27   41.27  41.292       8  PNCGQc1
2024-08-28  41.835  41.235    41.6  41.229      22  PNCGQc1
2024-08-29    41.0    40.2  40.595  40.834      38  PNCGQc1
2024-08-30   41.49  41.195    41.2  41.583      27  PNCGQc1

[2462 rows x 6 columns]

In [25]:
df.to_csv("the.csv")

In [29]:

ticker = "PPEGMc1"
start_date = "2010-01-01"
end_date = "2024-09-01"
fields = None

params = {"SDate": start_date, "EDate": end_date}

df, err = get_data(ticker, fields, params)
df

[INFO] Number of dates: 1513
[INFO] Number of tickers at once: 1
[INFO] Max time window length: 357

Ticker:   0%|          | 0/4 [00:00<?, ?it/s]2024-09-10 14:08:32,347 P[11144] [MainThread 19408] Error with PPEGMc1: No data available for the requested date range
2024-09-10 14:08:32,348 P[11144] [MainThread 19408] PPEGMc1: No data available for the requested date range |
2024-09-10 14:08:32,450 P[11144] [MainThread 19408] Error with PPEGMc1: No data available for the requested date range
2024-09-10 14:08:32,451 P[11144] [MainThread 19408] PPEGMc1: No data available for the requested date range |
Ticker: 100%|██████████| 4/4 [00:00<00:00,  7.70it/s]

PPEGMc1       HIGH    LOW    OPEN   CLOSE  VOLUME   ticker
Date
2018-09-28    <NA>   <NA>    <NA>  27.591    <NA>  PPEGMc1
2018-10-01    <NA>   <NA>    <NA>  27.586    <NA>  PPEGMc1
2018-10-02    <NA>   <NA>    <NA>  27.624    <NA>  PPEGMc1
2018-10-03   27.15  27.05   27.05  27.431    <NA>  PPEGMc1
2018-10-04    <NA>   <NA>    <NA>  27.635    <NA>  PPEGMc1
...            ...    ...     ...     ...     ...      ...
2024-08-26    <NA>   <NA>    <NA>  37.418     960  PPEGMc1
2024-08-27  38.525  37.95    38.0  38.249   14576  PPEGMc1
2024-08-28    39.2  38.65   38.65  38.216   10464  PPEGMc1
2024-08-29  38.575  38.05  38.575   38.31   32289  PPEGMc1
2024-08-30    <NA>   <NA>    <NA>  39.629    8976  PPEGMc1

[1513 rows x 6 columns]

In [30]:
df.to_csv("peg.csv")

In [39]:

ticker = "ZTPMc1"
start_date = "2010-01-01"
end_date = "2024-09-01"
fields = None

params = {"SDate": start_date, "EDate": end_date}

df, err = get_data(ticker, fields, params)

[INFO] Number of dates: 2401
[INFO] Number of tickers at once: 1
[INFO] Max time window length: 357

Ticker:   0%|          | 0/6 [00:00<?, ?it/s]2024-09-10 14:13:00,286 P[11144] [MainThread 19408] Error with ZTPMc1: No data available for the requested date range
2024-09-10 14:13:00,286 P[11144] [MainThread 19408] ZTPMc1: No data available for the requested date range |
2024-09-10 14:13:00,412 P[11144] [MainThread 19408] Error with ZTPMc1: No data available for the requested date range
2024-09-10 14:13:00,413 P[11144] [MainThread 19408] ZTPMc1: No data available for the requested date range |
Ticker: 100%|██████████| 6/6 [00:09<00:00,  1.66s/it]

In [41]:
df.to_csv("ztp.csv")

In [45]:
ticker = "GBPEUR="
start_date = "2010-01-01"
end_date = "2024-09-01"
fields = None

params = {"SDate": start_date, "EDate": end_date}

df, err = get_data(ticker, fields, params)
df

[INFO] Number of dates: 3000
[INFO] Number of tickers at once: 1
[INFO] Max time window length: 357

Ticker: 100%|██████████| 8/8 [00:09<00:00,  1.15s/it]

GBPEUR=      CLOSE    HIGH     LOW    OPEN  COUNT   ticker
Date
2010-01-01  1.1268  1.1291  1.1252  1.1274   <NA>  GBPEUR=
2010-01-04  1.1165  1.1291  1.1148  1.1252   <NA>  GBPEUR=
2010-01-05  1.1131   1.118  1.1088  1.1162   <NA>  GBPEUR=
2010-01-06  1.1114  1.1203  1.1092   1.113   <NA>  GBPEUR=
2010-01-07  1.1128  1.1136  1.1066   1.111   <NA>  GBPEUR=
...            ...     ...     ...     ...    ...      ...
2024-08-26  1.1811  1.1833  1.1789  1.1798  19596  GBPEUR=
2024-08-27   1.185  1.1859  1.1805  1.1807  20530  GBPEUR=
2024-08-28  1.1862   1.189  1.1832  1.1844  22115  GBPEUR=
2024-08-29  1.1882    1.19  1.1856  1.1859  22926  GBPEUR=
2024-08-30  1.1874  1.1904  1.1856   1.188  21146  GBPEUR=

[3830 rows x 6 columns]

In [46]:
df.to_csv("gbpeur.csv")